{% extends 'basePaises.html' %}
{% block content %}
{% load static %}
<div class="container mt-5" style="display: flex;align-items:center;justify-content:center;">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Moneda</button>
                      <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Idioma</button>
                      <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Continente</button>
                    </div>
                    <div class="tab-content" id="v-pills-tabContent">
                      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <form action="/peticion_Buscar_Moneda/" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Ingrese Monda</label>
                                    <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" name="moneda">
                                    <div id="emailHelp" class="form-text">Debe Ingresar un nombre de moneda para realizar la busqueda, sin caracteres especiales</div>
                                    <div style="display: flex;align-items:center;justify-content: center;">
                                        <button type="submit" class="btn btn-dark mt-2">Buscar</button>
                                    </div>
                                </div>
                            </form>
                      </div>
                      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <form action="/peticion_Buscar_Idioma/" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Ingrese Idioma</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="idioma">
                                <div id="emailHelp" class="form-text">Debe Ingresar un Idioma con el cual se realizar la busqueda,sin caracteres especiales</div>
                                <div style="display: flex;align-items:center;justify-content: center;">
                                    <button type="submit" class="btn btn-dark mt-2">Buscar</button>
                                </div>
                            </div>
                        </form>
                      </div>
                      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <form action="/peticion_Buscar_Continente/" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Ingrese Continente</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="continente" >
                                <div id="emailHelp" class="form-text">Ingrese un Continente para realizar la seleccion necesaria,sin caracteres especiales</div>
                                <div style="display: flex;align-items:center;justify-content: center;">
                                    <button type="submit" class="btn btn-dark mt-2">Buscar</button>
                                </div>
                            </div>
                        </form>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col"style="display:flex; align-items:center;justify-content: center; width: 35rem;" id="insertar">
              <img src="{% static 'busqueda.png' %}" id="imgBuscar">
        </div>
    </div>
</div>
<script>
    let resultados = {{resultados | safe}};
    let men = {{mensaje | safe}};
    if(men['tipo']== 'moneda'){
        if(men['mensaje'] == 'no'){
            moneda();
        }else{
            Swal.fire(
                'Resultados',
                'No se encontraron Resultados con ese tipo de moneda',
                'error'
            )
        }
    }
    if(men['tipo']== 'idioma'){
        if(men['mensaje'] == 'no'){
            idioma();
        }else{
            Swal.fire(
                'Resultados',
                'No se encontraron Resultados con ese tipo de Idioma',
                'error'
            )
        }
    }
    if(men['tipo']== 'continente'){
        if(men['mensaje'] == 'no'){
            continente();
        }else{
            Swal.fire(
                'Resultados',
                'No se encontraron Resultados relacionados a este Continente',
                'error'
            )
        }
    }

    function moneda(){
        if (resultados.length>0){
            let div_Insertar = document.getElementById('insertar');
            let img_Rm = document.getElementById('imgBuscar');
            div_Insertar.removeChild(img_Rm);
            
            let div_Card = document.createElement('div');
            div_Card.className = 'card';

            let div_Card_Title = document.createElement('div');
            div_Card_Title.className = 'card-title h5 fw-bolder';
            div_Card_Title.style = 'text-align: center; '
            div_Card_Title.innerText = `Resultados de la busqueda Por Moneda`;
            let div_Card_Body = document.createElement('div');
            div_Card_Body.className = 'card-body';
            
            let table = document.createElement('table');
            table.className = 'table';
            let thead = document.createElement('thead');
            thead.className='table-dark ';
            let tbody = document.createElement('tbody');
            
            let head_Atributo = document.createElement('tr')
            head_Atributo.innerHTML=`
                            <tr>
                                <td>Continente</td>
                                <td>País</td>
                                <td>Capital</td>
                                <td>Idioma</td>
                                <td>Moneda</td>
                            </tr>
            `;
            thead.appendChild(head_Atributo);
            resultados.forEach(element => {
                let row = tbody.insertRow();
                row.innerHTML=`
                <tr>
                    <td>${element['continente']}</td>
                    <td>${element['pais']}</td>
                    <td>${element['capital']}</td>
                    <td>${element['idioma']}</td>
                    <td>${element['moneda']}</td>
                </tr>
                `;
            });
            table.appendChild(thead);
            table.appendChild(tbody);
            div_Card_Body.appendChild(div_Card_Title)
            div_Card_Body.appendChild(table);
            div_Card.appendChild(div_Card_Body);
            div_Insertar.appendChild(div_Card)
    }
    }

    function idioma(){
        if (resultados.length>0){
            let div_Insertar = document.getElementById('insertar');
            let img_Rm = document.getElementById('imgBuscar');
            div_Insertar.removeChild(img_Rm);
            
            let div_Card = document.createElement('div');
            div_Card.className = 'card';

            let div_Card_Title = document.createElement('div');
            div_Card_Title.className = 'card-title h5 fw-bolder';
            div_Card_Title.style = 'text-align: center; '
            div_Card_Title.innerText = `Resultados de la busqueda Por Idioma`;
            let div_Card_Body = document.createElement('div');
            div_Card_Body.className = 'card-body';
            
            let table = document.createElement('table');
            table.className = 'table';
            let thead = document.createElement('thead');
            thead.className='table-dark ';
            let tbody = document.createElement('tbody');
            
            let head_Atributo = document.createElement('tr')
            head_Atributo.innerHTML=`
                            <tr>
                                <td>Continente</td>
                                <td>País</td>
                                <td>Capital</td>
                                <td>Idioma</td>
                                <td>Moneda</td>
                            </tr>
            `;
            thead.appendChild(head_Atributo);
            resultados.forEach(element => {
                let row = tbody.insertRow();
                row.innerHTML=`
                <tr>
                    <td>${element['continente']}</td>
                    <td>${element['pais']}</td>
                    <td>${element['capital']}</td>
                    <td>${element['idioma']}</td>
                    <td>${element['moneda']}</td>
                </tr>
                `;
            });
            table.appendChild(thead);
            table.appendChild(tbody);
            div_Card_Body.appendChild(div_Card_Title)
            div_Card_Body.appendChild(table);
            div_Card.appendChild(div_Card_Body);
            div_Insertar.appendChild(div_Card)
    }
    }

    function continente(){
        if (resultados.length>0){
            let div_Insertar = document.getElementById('insertar');
            let img_Rm = document.getElementById('imgBuscar');
            div_Insertar.removeChild(img_Rm);
            
            let div_Card = document.createElement('div');
            div_Card.className = 'card';

            let div_Card_Title = document.createElement('div');
            div_Card_Title.className = 'card-title h5 fw-bolder';
            div_Card_Title.style = 'text-align: center; '
            div_Card_Title.innerText = `Resultados de la busqueda Por Idioma`;
            let div_Card_Body = document.createElement('div');
            div_Card_Body.className = 'card-body';
            
            let table = document.createElement('table');
            table.className = 'table';
            let thead = document.createElement('thead');
            thead.className='table-dark ';
            let tbody = document.createElement('tbody');
            
            let head_Atributo = document.createElement('tr')
            head_Atributo.innerHTML=`
                            <tr>
                                <td>Continente</td>
                                <td>País</td>
                                <td>Capital</td>
                                <td>Idioma</td>
                                <td>Moneda</td>
                            </tr>
            `;
            thead.appendChild(head_Atributo);
            resultados.forEach(element => {
                let row = tbody.insertRow();
                row.innerHTML=`
                <tr>
                    <td>${element['continente']}</td>
                    <td>${element['pais']}</td>
                    <td>${element['capital']}</td>
                    <td>${element['idioma']}</td>
                    <td>${element['moneda']}</td>
                </tr>
                `;
            });
            table.appendChild(thead);
            table.appendChild(tbody);
            div_Card_Body.appendChild(div_Card_Title)
            div_Card_Body.appendChild(table);
            div_Card.appendChild(div_Card_Body);
            div_Insertar.appendChild(div_Card)
    }
    }
</script>
{% endblock %}