{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5" style="display: flex;align-items:center;justify-content:center;">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Nombre</button>
                      <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Departamento</button>
                      <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Sueldo</button>
                    </div>
                    <div class="tab-content" id="v-pills-tabContent">
                      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <form action="/buscarNombre/" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Ingrese Nombre</label>
                                    <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" name="nombre">
                                    <div id="emailHelp" class="form-text">Debe Ingresar un nombre para realizar la busqueda, sin numeros ni caracteres especiales</div>
                                    <div style="display: flex;align-items:center;justify-content: center;">
                                        <button type="submit" class="btn btn-dark mt-2">Buscar</button>
                                    </div>
                                </div>
                            </form>
                      </div>
                      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <form action="/buscarDepartamento/" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Ingrese Departamento</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="departamento">
                                <div id="emailHelp" class="form-text">Debe Ingresar un Departamento para realizar la busqueda</div>
                                <div style="display: flex;align-items:center;justify-content: center;">
                                    <button type="submit" class="btn btn-dark mt-2">Buscar</button>
                                </div>
                            </div>
                        </form>
                      </div>
                      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <form action="/buscarSalario/" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Ingrese Sueldo</label>
                                <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="salario" >
                                <div id="emailHelp" class="form-text">Debe solamente numeros para realizar la busqueda por sueldo.</div>
                                <div style="display: flex;align-items:center;justify-content: center;">
                                    <button type="submit" class="btn btn-dark mt-2">Buscar</button>
                                </div>
                            </div>
                        </form>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col"style="display:flex; align-items:center;justify-content: center; width: 35rem;" id="insertar">
              <img src="{% static 'busqueda.png' %}" id="imgBuscar">
        </div>
    </div>
</div>
<script>
  let tipo_Consulta = {{medio | safe}};
  let empleado = {{empleado|safe}};
  let empleados_Departamento = {{empleados_Departamento | safe}};
  let depto = {{depto | safe}};
  let empleados_Salario = {{empleados_Salario | safe }};
  if(tipo_Consulta['tipo']=='nombre'){
    let largo_Empleado = Object.keys(empleado).length;
    if(largo_Empleado>0){
      busqueda_Nombre();
      console.log(tipo_Consulta)
    }else{
      Swal.fire(
        'Resultados',
        'No se encontraron resultados Por este Nombre',
        'error'
      )
    };
  };
  if(tipo_Consulta['tipo']=='departamento'){
    busqueda_Departamento()
    console.log(tipo_Consulta)
  };
  if(tipo_Consulta['tipo']=='salario'){
    busqueda_Salario()
  };
  function busqueda_Nombre(){
    let div_Insertar = document.getElementById('insertar');
    let img_Rm = document.getElementById('imgBuscar');
    div_Insertar.removeChild(img_Rm);
    
    let div_Card = document.createElement('div');
    div_Card.className = 'card';

    let div_Card_Title = document.createElement('div');
    div_Card_Title.className = 'card-title h5 fw-bolder';
    div_Card_Title.style = 'text-align: center; '
    div_Card_Title.innerText = `Resultados de la busqueda Por Nombre`;
    let div_Card_Body = document.createElement('div');
    div_Card_Body.className = 'card-body';
    
    let table = document.createElement('table');
    table.className = 'table';
    let thead = document.createElement('thead');
    thead.className='table-dark ';
    let tbody = document.createElement('tbody');
    
    let head_Atributo = document.createElement('tr')
    head_Atributo.innerHTML=`
      <th>Departamento</th>
      <th>Nombre</th>
      <th>Puesto</th>
      <th>Salario</th>
    `;
    thead.appendChild(head_Atributo);
    tbody.innerHTML = `
        <tr>
          <td>${empleado['Departamento']}</td>
          <td>${empleado['Nombre']}</td>
          <td>${empleado['Puesto']}</td>
          <td>${empleado['Salario']}</td>
        </tr>
    `;
    
    table.appendChild(thead);
    table.appendChild(tbody);
    div_Card_Body.appendChild(div_Card_Title)
    div_Card_Body.appendChild(table);
    div_Card.appendChild(div_Card_Body);
    div_Insertar.appendChild(div_Card)
  }

  function busqueda_Departamento(){
    if (empleados_Departamento.length > 0){
      let div_Insertar = document.getElementById('insertar');
      let img_Rm = document.getElementById('imgBuscar');
      div_Insertar.removeChild(img_Rm);
      let div_Card = document.createElement('div');
      div_Card.className = 'card';

      let div_Card_Title = document.createElement('div');
      div_Card_Title.className = 'card-title h5 fw-bolder';
      div_Card_Title.style = 'text-align: center; '
      div_Card_Title.innerText = `Resultados de la busqueda por Departamento`;
      let div_Card_Body = document.createElement('div');
      div_Card_Body.className = 'card-body';
      
      let table = document.createElement('table');
      table.className = 'table';
      let thead = document.createElement('thead');
      thead.className='table-dark ';
      let tbody = document.createElement('tbody');
      
      let head_Atributo = document.createElement('tr')
      head_Atributo.innerHTML=`
        <th>Departamento</th>
        <th>Nombre</th>
        <th>Puesto</th>
        <th>Salario</th>
      `;
      thead.appendChild(head_Atributo);
      empleados_Departamento.forEach((ele,index,empleados_Departamento) => {
        let row = tbody.insertRow();
        row.innerHTML=`
        <tr>
          <td>${depto['depto']}</td>
            <td>${ele['nombre']}</td>
            <td>${ele['puesto']}</td>
            <td>${ele['salario']}</td>
        </tr>
        `;
      });
      table.appendChild(thead);
      table.appendChild(tbody);
      div_Card_Body.appendChild(div_Card_Title)
      div_Card_Body.appendChild(table);
      div_Card.appendChild(div_Card_Body);
      div_Insertar.appendChild(div_Card)
    }else{
      Swal.fire(
        'Resultados',
        'No se encontraron resultados por Departamento',
        'error'
      )
    }
  }
  
  function busqueda_Salario(){
    if (empleados_Salario.length >0){
      let div_Insertar = document.getElementById('insertar');
      let img_Rm = document.getElementById('imgBuscar');
      div_Insertar.removeChild(img_Rm);
      let div_Card = document.createElement('div');
      div_Card.className = 'card';

      let div_Card_Title = document.createElement('div');
      div_Card_Title.className = 'card-title h5 fw-bolder';
      div_Card_Title.style = 'text-align: center; '
      div_Card_Title.innerText = `Resultados de la busqueda por Salario`;
      let div_Card_Body = document.createElement('div');
      div_Card_Body.className = 'card-body';
      
      let table = document.createElement('table');
      table.className = 'table';
      let thead = document.createElement('thead');
      thead.className='table-dark ';
      let tbody = document.createElement('tbody');
      
      let head_Atributo = document.createElement('tr')
      head_Atributo.innerHTML=`
        <th>Departamento</th>
        <th>Nombre</th>
        <th>Puesto</th>
        <th>Salario</th>
      `;
      thead.appendChild(head_Atributo);
      empleados_Salario.forEach((element,index,empleados_Salario)=>{
        let row = tbody.insertRow();
        row.innerHTML=`
        <tr>
          <td>${element['departamento']}</td>
            <td>${element['nombre']}</td>
            <td>${element['puesto']}</td>
            <td>${element['salario']}</td>
        </tr>
        `;
      });
      table.appendChild(thead);
      table.appendChild(tbody);
      div_Card_Body.appendChild(div_Card_Title)
      div_Card_Body.appendChild(table);
      div_Card.appendChild(div_Card_Body);
      div_Insertar.appendChild(div_Card)
    }else{
      Swal.fire(
        'Resultados',
        'No se encontraron resultados por Salario',
        'error'
      )
    }
  }
</script>
{% endblock %}